<div class="container margin-container">
  <h1 *ngIf="isAddMode">Add new recipe in category {{nameofCategory}}</h1>
  <h1 *ngIf="!isAddMode">Edit recipe </h1>
  
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">*Name</label>
      <input type="text" id="name" name="name" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid':form.name.touched && form.name.errors }">
      <div *ngIf="form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">*Description</label>
      <textarea type="text" id="description" name="description" rows="5" formControlName="description"
        class="form-control"
        [ngClass]="{ 'is-invalid':form.description.touched && form.description.errors }"></textarea>
      <div *ngIf="form.description.errors" class="invalid-feedback">
        <div *ngIf="form.description.errors.required">Description is required</div>
      </div>
    </div>

    <div class="form-group scroll-div">
      <div class="col-xs-12" formArrayName="ingredients">
        <div class="row ing-row mr-0 ml-0 ingredient-control"
          *ngFor="let ingredientCtrl of addIngredientInForm(); let i = index" [formGroupName]="i">
          <div class="col-xs-4">
            <select id="ingredientId" name="ingredientId" formControlName="ingredientId" class="form-control"
              (change)="totalCostPerIngredient(i);changeMeasureUnit(i)">
              <option value="Choose ingredients for recipe"></option>
              <option [ngValue]="j.id" *ngFor="let j of ingredients">
                {{j.name}}
              </option>
            </select>
          </div>

          <div class="col-xs-2  ml-3">
            <input type="number" class="form-control" formControlName='unitQuantity' min="0.1" step="0.1"
              (change)="totalCostPerIngredient(i)">
          </div>
          <div class="col-xs-2 ml-3">
            <select id="measureUnit" name="measureUnit" formControlName="measureUnit"
              class="form-control custom-disabled" (change)="totalCostPerIngredient(i)">
              <option value="Choose measure unit for ingredient"></option>
              <option [ngValue]="unit" *ngFor="let unit of ingredientEumKeys[i]; let indexOfUnit=index">
                {{measureUnits[unit]}}
              </option>
            </select>
          </div>

          <div class="col-xs-2  ml-3 div-cost">
            Cost:
            <input type="number" class="form-control" formControlName='costIngredient' readonly> KM
          </div>

          <div class="col-xs-2 ml-3">
            <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
          </div>
        </div>
        <hr />
        <label>Total cost for this recipe is: <strong> {{totalCost}} KM </strong></label>
        <hr />
      </div>
    </div>

    <div class="form-group">
      <label for="recommendedPrice">*Recommended selling price</label>
      <input type="number" min="1" id="recommendedPrice" name="recommendedPrice" formControlName="recommendedPrice"
        class="form-control" [ngClass]="{'is-invalid':form.recommendedPrice.touched && form.recommendedPrice.errors }">
      <div *ngIf="form.recommendedPrice.errors" class="invalid-feedback">
        <div *ngIf="form.recommendedPrice.errors.required">Recommended selling price is required</div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary add-ing" (click)="addNewIngredientRow()">*Add ingredient to recipe
      </button>
      <button type="button" class="btn btn-info ml-3" (click)="open()">Add new ingredient </button>
    </div>

    <div class="form-group float-btn">
      <button type="button" class="btn btn-secondary"
        [routerLink]="['/recipes/'+ categoryId + '/' + nameofCategory]">Cancel</button>
      <button type="submit" class="btn btn-success ml-3" [disabled]="!recipeForm.valid">Submit</button>
    </div>
  </form>
</div>